<div>
  <form action="/auth/login" method="post">
    <div>
      <label for="email">Email</label>
      <input placeholder="Enter your email" type="text" name="email" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" />
    </div>
    <div>
    </div>
    <button>Login</button>
    <div>
      {{errorMsg}}
    </div>
  </form>

</div>