<div>
  <form action="/auth/signup" method="post">
    <div>
      <h3>Register by:</h3>
      <div>
        <label for="role-dev">Dev</label>
        <input
          placeholder="dev"
          value="dev"
          type="radio"
          name="role"
          id="role-dev"
        />
        <label for="role-company">Company</label>
        <input
          placeholder="company"
          value="company"
          type="radio"
          name="role"
          id="role-company"
        />
      </div>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="text" name="email" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" />
      <label for="password-check">Repeat password</label>
      <input type="password" name="passwordCheck" />
    </div>
    <button>Sign Up</button>
    <div>
      {{errorMsg}}
    </div>
  </form>
</div>