<div>
  <form action="" method="post">
    <div>
      <label for="email">Email</label>
      <input type="text" name="email" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" />
      <label for="password-check">Repeat password</label>
      <input type="password" name="passwordCheck" />
    </div>
    <button>Sign Up</button>
  </form>
</div>