<div class="box-border flex flex-col items-center justify-evenly min-h-screen">

    <div class=" mt-6">
        <h1 class=" text-3xl md:text-5xl font-bold text-center text-slate-700">TALENT <span class="text-white">MATCH</span></h1>
        <h1 class=" text-3xl md:text-5xl font-bold text-center mb-6 text-white">TALENT <span class="text-green-600">MATCH</span></h1>
        <h3 class="text-md md:text-2xl text-center text-gray-600">The best Talent searchers for your Company.</h3>
    </div>
    <div class=" flex flex-col items-center">
        <img class="w-60 md:w-96 rounded-xl" src="/images/logoTalentMatch.png" alt="Logo img">
        <p class="md:text-3xl text-center pt-9 text-gray-600 mx-7">Find the talent your company needs and match with the best developers easily!</p>
    </div>
    <div class="flex flex-col items-center">
        <a href="/auth/signup"><button class="group relative flex w-52 md:w-80 justify-center rounded-md border border-transparent bg-green-600 py-2 md:py-4 px-4 md:px-6 text-sm font-medium text-white md:text-xl">Sign Up</button></a>
        <p class="md:text-xl mt-2 text-gray-600">Already have an account? <a class="text-green-600" href="/auth/login">Login</a></p>
    </div>
    <div class=" h-8"></div>
    <p class=" md:text-lg text-gray-300 text-center fixed bottom-0">By Alberto Pérez and Jose Daniel De Luis</p>
    
</div>
