<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

      <nav>
         <a href="/">Home</a>

         <a href="/auth/login">Login</a>
         <a href="/auth/signup">Sign Up</a>

         <a href="/dev">Main Dev</a>
         <a href="/dev/profile">My Profile</a>

         <a href="/company">Main Company</a>
         <a href="/company/profile">My profile</a>
    </nav>

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>