<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

      <nav>
         <a href="/">Home</a>
         {{#if isUserActive}}
            <a href="/auth/logout">Log out</a>
         {{else}}
            <a href="/auth/login">Login</a>
            <a href="/auth/signup">Sign Up</a>
         {{/if}}
         {{#if isUserDev}}
            <a href="/dev">Main</a>
            <a href="/dev/profile">My Profile</a>
         {{/if}}

         {{#if isUserCompany}}
            <a href="/company">Main</a>
            <a href="/company/profile">My profile</a>
         {{/if}}
    </nav>

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>