<div>
  <h4>Are you sure you want to delete these
    <span>{{companyUser.companyName}}</span>
    account?</h4>
  <div>
    <form action="/company/profile/delete" method="post">
      <button>Yes</button>
    </form>
    <button><a href="/company/profile">No</a></button>
  </div>
</div>