<div>
  <h1>Main Company</h1>

  <div id="filter-container">
    <form action="/company" method="get">
      <div>
        <h4>Search: </h4>
        <input placeholder="Search" type="search" name="search" />
        <button>Search</button>
        <button><label for="favDevs">Fav Devs</label></button>
        <input hidden type="checkbox" id="favDevs" value="true" name="favDevs" />
      </div>

    </form>
  </div>

  {{#each devList}}
    <div>
      <h3>-> {{this.name}} {{this.secondName}}</h3>
      <ul>
        {{#each this.techSkills}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
      <a href="/company/{{this._id}}/details">See More</a>
    </div>
  {{/each}}
</div>