<div>
    <h3>Are you sure you want to delete your Account?</h3>
    <form action="/dev/profile/delete" method="post">
        <button>YES DELETE IT</button>
    </form>
    <a href="/dev/profile/edit"><button>NO I DONT</button></a>
</div>