<div>
    <h1>MAIN</h1>

    <div>
        <form action="/dev" method="get">
        <div>
            <h4>Search:</h4>
            <input type="search" name="search" id="search" placeholder="Search">
            <button>Global Search</button>
            <button><label for="favComp">Fav Companies</label></button>
            <input type="checkbox" id="favComp" value="true" name="favComp" hidden>
        </div>
        </form>
    </div>
    
    {{#each companiesList}}
        <div>
            <h3>-> {{this.companyName}}</h3>
            <ul>
                {{#each this.techStack}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <a href="/dev/{{this._id}}/details">See More</a>
        </div>
    {{/each}}
</div>
