<div>

    <h1>MAIN</h1>

    <form action="/dev" method="post">
        <div>
            <input type="checkbox" name="favCompanies" id="favCompanies">
            <label for="favCompanies">Favourites Companies</label>
        </div>
        <div>
            <input type="checkbox" name="techStack" id="techStack">
            <label for="techStack">Search by TechStack</label>
        </div>

        <input type="text" name="search" id="search" placeholder="search">
        <button>Search</button>
    </form>
    
    {{#each response}}
        <a href="/dev/{{this._id}}/details">{{this.companyName}}</a>
        <ul>
            {{#each this.techStack}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    {{/each}}

</div>

<script>
    const favCompanies = document.getElementById("favCompanies");
    const techStack = document.getElementById("techStack");

    favCompanies.addEventListener("change", function() {
    if (favCompanies.checked) {
        techStack.checked = false;
    }
    });

    techStack.addEventListener("change", function() {
    if (techStack.checked) {
        favCompanies.checked = false;
    }
    });
</script>